<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">



<head>

<title>Dryad</title>

<!-- encoding -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!-- stylesheets -->
<link rel="stylesheet" type="text/css" href="file:///D:/Dropbox/code/dryad/dryad/dryad/writer/html/main.css" />

<!-- MathJax -->
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
    tex2jax: {
        inlineMath: [['$','$']],
        processEscapes: true,
        skipTags: ["script", "noscript", "style"]
    },
    "HTML-CSS": {
        scale: 120,
        showMathMenu: false,
    },
    NativeMML: {
        scale: 120
    }
});
</script>

<script type="text/javascript"
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

</head>



<body>

<div class="central">

{{#child_lines}}
{{{text}}}
{{/child_lines}}
</div>

</body>



</html>