/* -------------------------------- Code ------------------------------------ */

tt.code {
    border-radius: 2px;
    color: black;
    background: -webkit-radial-gradient(circle, #f9f9f9, #f0f0f0);
}

div.code {
    padding: 0.5em;
    background: -webkit-linear-gradient(left, #fdfdfd, #f0f0f0);
    border-left: 0.3em solid hsl(10, 60%, 50%);
}

h1 > .code, h2 > .code, h3 > .code, 
h4 > .code, h5 > .code, h6 > .code {
    background-color: inherit;
}
