/* ---------------------------- Math admonitions ---------------------------- */

span.math_admonition_type + p {
    display: inline;
}

span.math_admonition_type + * {
    margin-top: 0.5em;
}

span.math_admonition_type {
    color: #444;
    font-weight: bold;
}

span.math_admonition_title {
    font-variant: small-caps;
}


div.math_admonition {
    padding: 0.5em 8px;
    margin-top: 0.5em;
    background: -webkit-linear-gradient(left, white, #f7f7f7, white);
    border-bottom: solid;
    border-width: 1px;
    border-color: #eee;
}

/*div.math_admonition:hover,
div.math_admonition div.math_admonition:hover,
div.math_admonition div.math_admonition div.math_admonition:hover {
    border-color: #ccc; 
}*/

div.math_admonition div.math_admonition {
    margin-left: 5px;
    background: #f9f9f9;
    border-color: #e9e9e9;
}