/* ========================= GENERAL TWEAKS ================================= */

/* ----------------------------- Spacing ------------------------------------ */

/*body, div, p, pre, span, tt, table, td, tr, th {
    margin: 0;
    padding: 0;
}*/

* {
    margin: 0;
    padding: 0;
}

* + p, * + div, * + table, * + ul, * + ol, * + center {
    margin-top: 1em;
}

p + p {
    margin-top: 2px;
}

pre {
    overflow: auto;
}

/* ----------------------------- Text indent -------------------------------- */

* {
    text-indent: 0;
    text-align: justify;
}

p {
    text-indent: 12px;
}

li > p, td > p, p[display=inline], div + p, center + p {
    text-indent: 0;
}


/* -------------------------- Colors & Fonts -------------------------------- */

body {
    font-family: Georgia;
    font-size: 10pt;
}

pre, tt {
    font-family: Lucida Console;
}

a {
    color: hsl(10, 60%, 50%);
    text-decoration: none;
}

a:hover {
    /* color: hsl(0, 80%, 50%); */
    color: white;
    background-color: hsl(10, 60%, 50%); 
}


/* ------------------------------ Columns ----------------------------------- */

table.layout {
    border-collapse: collapse;
    table-layout: fixed;
    border: none;
    margin: 0;
    padding: 0;
}

div.central_column {
    margin-top: 0;                         /* don't need spacing for this one*/
 
    width: 45em;
    padding: 1em 3em 3em 3em;
}

div.left_column {
    width: 13em; 
    padding: 1em;
}

body {
    background-color: #cccccc;
}

td.central_column {
    color: #333333;
    background-color: white;
    
    border-left: 1px dashed;                /* colors */
    border-right: 1px solid;
    border-color: #777;
}

td.left_column {
   background-color: #f6f6f6;
}