/* ========================= GENERAL TWEAKS ================================= */

/* ----------------------------- Spacing ------------------------------------ */

* {
    margin: 0;
    padding: 0;
}

p + p {
    margin-top: 6px;
}

pre {
    overflow: auto;
}

/* ----------------------------- Text indent -------------------------------- */

body {
    text-indent: 0;
    text-align: center;
}

p {
    line-height: 1.3;
    text-indent: 24px;
}

li > p, 
th > p, td > p, 
p[display=inline], 
div + p, center + p, ol + p, ul + p,
tt, span {
    text-indent: 0;
}

/* -------------------------- Colors & Fonts -------------------------------- */

body {
    font-family: Verdana;
    font-size: 10pt;
}

pre, tt {
    font-family: Lucida Console;
}

/* ------------------------------ Columns ----------------------------------- */


div.central_column {
    margin-top: 0;                         /* don't need spacing for this one*/
 
    width: 650px;
    padding: 1em 3em 2em 3em;
    overflow-x: auto;
    
    color: black;
    background-color: white;
    border-left: 1px solid #666;                /* colors */
    border-right: 1px solid #666;
    box-shadow: 0 0 12px #333;
    
    text-align: justify;
    display: inline-block;
}

body {
    background-color: #999;
}