/* ------------------------------ Section ----------------------------------- */

h1 + div.section > h2,
h2 + div.section > h3,
div.central_column > div.section:first-child > *:first-child {
    margin-top: 0;   
}

h1, h2, h3, h4, h5, h6 {
    font-family: serif;
    color: black;
    margin-bottom: 12px;
    border-bottom: 1px dotted;
    margin-top: 6px;
}

h1 { font-size: 250%; } /* letter-spacing: 2px; } */
h2 { font-size: 200%; } /* letter-spacing: 2px; } */
h3 { font-size: 170%; } /* letter-spacing: 1px; } */
h4 { font-size: 150%; }
h5 { font-size: 120%; }
h6 { font-size: 100%; }

a.section_anchor {
    visibility: hidden;
}

h1:hover > a, h2:hover > a, h3:hover > a, 
h4:hover > a, h5:hover > a, h6:hover > a {
    visibility: visible;
}