{% extends "html_base.html" %}

{% block head %}
  <script src="/static/js/codemirror/lib/codemirror.js"></script>
  <link rel="stylesheet" href="/static/js/codemirror/lib/codemirror.css">
{% endblock %}

{% block body %}
  <script type="text/javascript">
    window.onload = (function() {
      var area = document.getElementById("editor")
      CodeMirror.fromTextArea(area, {
        "indentUnit": 4,
        "tabSize": 4,
        "autoClearEmptyLines": true,
        "lineWrapping": true,
        "lineNumbers": true
      });
    });
  </script>

  <div class="nocenter">
    <form action="" method="post">
      {% csrf_token %}
      <textarea name="source" id="editor">{{ page.source }}</textarea>
      <input type="submit" value="Save">
    </form>
  </div>
{% endblock %}
