<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
  <title>{% block title %}dryad / wiki{% endblock %}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  {% block head %}{% endblock %}

  {% block styles %}
    <link rel="stylesheet" type="text/css" href="/static/wiki/css/code.css">
    <link rel="stylesheet" type="text/css" href="/static/wiki/css/figure.css">
    <link rel="stylesheet" type="text/css" href="/static/wiki/css/image.css">
    <link rel="stylesheet" type="text/css" href="/static/wiki/css/invisible.css">
    <link rel="stylesheet" type="text/css" href="/static/wiki/css/link.css">
    <link rel="stylesheet" type="text/css" href="/static/wiki/css/list.css">
    <link rel="stylesheet" type="text/css" href="/static/wiki/css/math.css">
    <link rel="stylesheet" type="text/css" href="/static/wiki/css/math_blocks.css">
    <link rel="stylesheet" type="text/css" href="/static/wiki/css/pygments.css">
    <link rel="stylesheet" type="text/css" href="/static/wiki/css/root.css">
    <link rel="stylesheet" type="text/css" href="/static/wiki/css/section.css">
    <link rel="stylesheet" type="text/css" href="/static/wiki/css/span.css">
    <link rel="stylesheet" type="text/css" href="/static/wiki/css/table.css">
    <link rel="stylesheet" type="text/css" href="/static/wiki/css/toc.css">
    <link rel="stylesheet" type="text/css" href="/static/wiki/css/unknown.css">
  {% endblock %}

  {% block scripts %}
    <script type="text/javascript" src="/static/wiki/js/math.js"></script>
  {% endblock %}
</head>

<body>
  {% block body %}{% endblock %}
</body>

</html>
