/* ========================= GENERAL TWEAKS ================================= */

/* ----------------------------- Spacing ------------------------------------ */

* {
    margin: 0;
    padding: 0;
}

p + p {
    margin-top: 4px;
}

p {
    line-height: 1.25;
    text-indent: 24px;
}

pre {
    overflow: auto;
}

/* ----------------------------- Text indent -------------------------------- */

body {
    text-indent: 0;
    text-align: center;
    
    font-family: Verdana;
    font-size: 10pt;
    background: #f8f8f8;
}

div.central_column {
    margin-top: 0;                         /* don't need spacing for this one*/
 
    width: 650px;
    padding: 1em 3em 2em 3em;
    overflow-x: auto;
    
    color: black;
    text-align: justify;
    display: inline-block;
    
    /*border-left-style: solid;
    border-right-style: solid;
    border-width: 1px;
    border-color: hsl(200, 0%, 60%) 
    border-color: #ddd;*/
}

li > p:first-child,
th > p, td > p, 
p[display=inline], 
div + p, center + p, ol + p, ul + p,
tt, span {
    text-indent: 0;
}

/* -------------------------- Colors & Fonts -------------------------------- */

pre, tt {
    font-family: Lucida Console;
}
