center > table {
    border-collapse: collapse;
    margin: 1em 0;
    box-shadow: 0 0 7px #ddd;
}

center > table > tbody > tr:last-child > td {
    border-bottom: 1px solid #777;
}

center > table > tbody > tr:first-child > td {
    border-top: 1px solid #777;
}

center > table tr.odd {
    background-color: rgba(0, 0, 0, 0.02);    
}

center > table td, th {
    padding: 0.25em 0.5em;
    border-left: 1px solid #777;
    border-right: 1px solid #777;
    text-align: center;
}

center > table td > *, th > * {
    text-align: center;
}

center > table td {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

center > table th {
    text-align: left;
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
    background: rgba(0, 0, 0, 0.06);
}

th:first-child, td:first-child {
    white-space: nowrap;
}
