/* ------------------------------ Unknown ----------------------------------- */

span.unknown {                              /* Colors */
    background-color: hsl(10, 60%, 50%);
    color: white;
}

tt.body_text, div.unknown {
    background-color: white;
    color: black;
}

span.unknown {                              /* Span */
    border: 1px solid #990000;
    border-radius: 2px;
    overflow: hidden;
    display: inline-block;
}

tt.span_name {
    padding: 0pt 2pt;
}

tt.body_text {
    padding: 1em 2pt;
}

div.unknown {                               /* Block */
    margin-top: 1.5em;
    border: 1px solid #990000;
    border-radius: 2px;
}

div.unknown > span.unknown {
    display: inline-block;
    margin-top: -0.8em;
    margin-left: 0.5em;
}

div.unknown > pre {
    padding: 0.5em;
}